body {
    background-color: #0B2027;
}

#main-header {
    padding: 40px;
    text-align: center;
    background: #F6F1D1;
    color: #0B2027;
    font-size: 80px !important;


    border-width: 2px;
    border-color: #70A9A1;
}

.header-container {
    padding: 40px;
}

.location, .weather {
    background-color: #CFD7C7;
    color: #0B2027;
    padding: 30px;
    border-radius: 15px 50px
}

